<header class="header_visiteur">
        <section class="member">
                {# <a href="index.php?class=users&action=logout">
                    <h2>Déconnexion </h2>
                </a>	 #}
                <a href="#">
                    <h2>Espace membre</h2>
                </a>
                <a href="#">
						<img src="{{asset('build/images/logo.jpg')}}" alt="logo">
					</a>
        </section>	
        <section class="nav">
            <nav>                 
                <a href="#">Berline</a>
                <a href="#">Cabriolet</a>
                <a href="#">SUV</a>
                <a href="#">4X4</a>  
                <a href="#">Mon Espace</a>            
            </nav>	
        </section>
</header>