<header class="header_visiteur">
        <section class="member">
                {# <a href="index.php?class=users&action=logout">
                    <h2>Déconnexion </h2>
                </a>	 #}
                <a href="index.php?class=users&action=login">
                    <h2>Espace membre</h2>
                </a>
        </section>	
        <section class="nav">
            <nav>
                {# <?php $categoryheader= Category::list();?>
                <?php foreach($categoryheader as $cat): ?>   #}
                    <a href="#"></a>
                {# <?php endforeach ?>

                <?php if(isset($_SESSION['user']['logged'])): ?> #}
                    <a href="#">Mon espace</a>
                    <a href="#">Mon espace</a>
                    <a href="#">Mon espace</a>
                {# <?php endif; ?> #}
            </nav>	
        </section>
</header>