{% extends 'base.html.twig' %}

{% block title %}Voici nos différents véhicules{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5">Voici la liste de nos véhicules à louer !</h1>
    <section class="row" id="cars"  >
        <div class="col-md-3 d-flex" >
            {% include 'partials/_filterCar.html.twig' with {'form' : form} %}
        </div>
        <div class="col-md-9">
            {% for car in cars %}
                {% include "partials/_products.html.twig" with {'car' : car} %}
            {% endfor %}
        </div>
    </section>
    <div>
        {% include "partials/_pagination.html.twig" with {'page' : pagination.currentpage, 'pages' : pagination.pages} %}
    </div>
</div>    
{% endblock %}

