{% extends 'base.html.twig' %}

{% block title %}Voici nos différents véhicules{% endblock %}

{% block body %}
    <div class="container">
        <h1>Voici la liste de nos véhicules à louer !</h1>
        <section id="cars">
        {% for car in cars %}
            <article id="product">
                <h2>{{car.title}}</h2>
                <section class="img">
                    <a href="#">
                    <img src="{{car.coverImage}}" alt="#" />
                    </a>
                </section>
                <section class="description">
                    <h2></h2>
                    <p>{{car.price}} &euro; / jour</p>
                </section>
                <a class="btn" href="#">Voir ce produit</a>
            </article>
        {% endfor %}
    </section>
    </div>    
{% endblock %}
